<%= form_with(model: park, local: true) do |form| %>
  <% if park.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(park.errors.count, "error") %> prohibited this park from being saved:</h2>

      <ul>
      <% park.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Park Number" %>
    <%= form.number_field :pno, min: 1%>
  </div>

  <div class="field">
    <%= form.label :"Park Name" %>
    <%= form.text_field :pname %>
  </div>

  <div class="field">
    <%= form.label :"Location" %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :"Number of employees" %>
    <%= form.number_field :employees, default: 0, min: 1%>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
