<p id="notice"><%= notice %></p>

<p>
  <strong>Pno:</strong>
  <%= @park.pno %>
</p>

<p>
  <strong>Pname:</strong>
  <%= @park.pname %>
</p>

<p>
  <strong>Location:</strong>
  <%= @park.location %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @park.employees %>
</p>

<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
