<%= form_with(model: visitor, local: true) do |form| %>
  <% if visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% visitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :vname %>
  </div>

  <div class="field">
    <%= form.label :"E-mail" %>
    <%= form.text_field :vemail, readonly:true%>
  </div>

  <div class="field">
    <%= form.label :Contact %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :"Date of visit" %>
    <%= form.date_select :visitDate , value:Date.today, readonly:true %>
  </div>

  <div class="field">
    <%= form.label :"Number of tickets" %>
    <%= form.number_field :noOfTickets %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
