<p id="notice"><%= notice %></p>

<h1>Visitors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Contact</th>
      <th>Date of Visit</th>
      <th>Number of tickets</th>
      <th>Park visited</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.vname %></td>
        <td><%= visitor.vemail %></td>
        <td><%= visitor.contact %></td>
        <td><%= visitor.visitDate %></td>
        <td><%= visitor.noOfTickets %></td>
        <td><%= visitor.visits %></td>
        <td><%= link_to 'Show', visitor %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visitor', new_visitor_path %>
