<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <style type="text/css">
      body{
        background: url("/assets/151205.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%
        overflow: hidden;
        font-family: 'Bangers', cursive;
        font-size-adjust: auto;
        font-size: 20px;
      }
      * {box-sizing: border-box}

      /* Overwrite default styles of hr */
      hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
      }
      .content {
        background: white;
        width: 50%;
        padding: 40px;
        margin: 100px auto;
      }

      h1{
        text-shadow: 1px 1px black;
        font-size: 60px;
        color: #272748;
        text-align: center;

      }
      h3{
        font-size: 22px;
        color: #272748;
        text-align: left;
      }


      p{
        font-size: 16px;
        text-align: left;
        /*line-height: 2;*/
        letter-spacing: 1px;
        color: black;
        font-family: Verdana, Geneva, sans-serif;


      }
      .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        background-color: #272748;
        align: center;
        cursor: pointer;
        border-radius: 5px;
      }

    </style>
    <meta charset="utf-8">
  </head>
  <body>

    <div class="content">
      <h1>Visitors</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Contact</th>
            <th>Date of Visit</th>
            <th>Number of tickets</th>
            <th>Park visited</th>
            <th colspan="6"></th>
          </tr>
        </thead>

        <tbody>
          <% @visitors.each do |visitor| %>
            <tr>
              <td><%= visitor.vname %></td>
              <td><%= visitor.vemail %></td>
              <td><%= visitor.contact %></td>
              <td><%= visitor.visitDate %></td>
              <td><%= visitor.noOfTickets %></td>
              <td><%= @park["#{visitor.visits}".to_i-1][0] %></td>
              <td><%= link_to 'Show', visitor %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Visitor', new_visitor_path %>
    </div>
  </body>
</html>

<p id="notice"><%= notice %></p>
