<p id="notice"><%= notice %></p>

<h1>Visitors</h1>

<table>
  <thead>
    <tr>
      <th>Vname</th>
      <th>Vemail</th>
      <th>Contact</th>
      <th>Visitdate</th>
      <th>Nooftickets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.vname %></td>
        <td><%= visitor.vemail %></td>
        <td><%= visitor.contact %></td>
        <td><%= visitor.visitDate %></td>
        <td><%= visitor.noOfTickets %></td>
        <td><%= link_to 'Show', visitor %></td>
        <td><%= link_to 'Edit', edit_visitor_path(visitor) %></td>
        <td><%= link_to 'Destroy', visitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visitor', new_visitor_path %>
