<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <style type="text/css">
      body{
        background: url("/assets/151205.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%
        overflow: hidden;
        font-family: 'Bangers', cursive;
        font-size-adjust: auto;
        font-size: 20px;
      }
      * {box-sizing: border-box}

      /* Overwrite default styles of hr */
      hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
      }
      .content {
        background: white;
        width: 30%;
        padding: 40px;
        margin: 100px auto;
      }

      h2{
        text-shadow: 1px 1px black;
        font-size: 60px;
        color: #272748;
        text-align: center;

      }
      h3{
        font-size: 22px;
        color: #272748;
        text-align: left;
      }


      p{
        font-size: 16px;
        text-align: left;
        /*line-height: 2;*/
        letter-spacing: 1px;
        color: black;
        font-family: Verdana, Geneva, sans-serif;


      }
      .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        background-color: #272748;
        align: center;
        cursor: pointer;
        border-radius: 5px;
      }

    </style>
    <meta charset="utf-8">
  </head>
  <body>

    <div class="content">
      <h2>Log in</h2>
      <hr>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :ename %><br />
          <%= f.text_field :ename, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :age %><br />
          <%= f.number_field :age %>
        </div>

        <div class="field">
          <%= f.label :post %><br />
          <%= f.text_field :post %>
        </div>

        <div class="field">
          <%= f.label :gender %><br />
          <%= f.text_field :gender %>
        </div>

        <div class="field">
          <%= f.label :works_for %><br />
          <%= f.text_field :works_for %>
        </div>

        <div class="field">
          <%= f.label :operates %><br />
          <%= f.text_field :operates %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions" >
          <%= f.submit "Log in", class: "button" %>
        </div>
      <% end %>

      <%= render "employees/shared/links" %>

    </div>
  </body>
</html>
