<%= form_with(model: ride, local: true) do |form| %>
  <% if ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Ride number" %>
    <%= form.number_field :rno, min: 1%>
  </div>

  <div class="field">
    <%= form.label :"Ride name" %>
    <%= form.text_field :rname %>
  </div>

  <div class="field">
    <%= form.label :"Park that the ride belongs to" %>
    <%= select(:ride, :exists_in, @park_options) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
