<p id="notice"><%= notice %></p>

<p>
  <strong>Ride number:</strong>
  <%= @ride.rno %>
</p>

<p>
  <strong>Ride name:</strong>
  <%= @ride.rname %>
</p>

<p>
  <strong>Park name:</strong>
  <%= @park["#{@ride.exists_in}".to_i-1][0] %>
</p>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
